
html, body {
    margin:0;
    height:100%;
  }

* { 
    color:#303030 ;
}
/* #cff4d2, #7be495, #56c596, #329d9c, #205072*/ 
body {
    background-image: linear-gradient(to bottom right, hsl(47, 54%, 55%),  hsl(73, 54%, 55%), hsl(179, 54%, 41%), hsl(205, 56%, 29%));
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-bg {
    background-color: #f2f2f2;
    height: 550px;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

.container {
    justify-content: center;
    text-align: center;
    width: fit-content;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 39px;
    text-align: center;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
#paragraph {
    margin-bottom: 40px;
}

#par {
    margin-bottom: 2px;
}

.grid-container {
    display: grid;
}

.item1, .item2 {
    margin-bottom: 20px;
}

.item2 {
    margin-bottom: 40px;
}

.form_field {
    border: none;
    background-color: transparent;
    border-bottom: solid grey 2px;
    width: 250px;
    color:grey;
    font-weight: 600;
    margin-bottom: 10px;
}

.form_field:focus{
    outline: none;
    background-color: transparent;
    border-bottom: solid 2px;
    border-image: linear-gradient(to right, hsl(73, 53%, 55%), #329d9c);
    border-image-slice: 1;
    color: #329d9c;
}

button {
    background-image: linear-gradient(to right, hsl(73, 53%, 55%), #329d9c);
    border: none;
    border-radius: 20px;
    color: white;
    width: 250px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    opacity: 1;
}

a{
    color: #ffffff;
    font-weight: 600;
}

a:hover {
    color:#ffffff;
    text-decoration: none;
}

#inline {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#space {
    margin-right: 5px;
}

#link {
    color: #303030;
    font-weight: 400;
}

#link:hover {
    text-decoration: solid;
    color: #329d9c;
}

.img {
    margin-bottom: 35px;
}