html, body {
    margin:0;
    height:100%;
  }


* { 
    color:#303030 ;
}
/* #cff4d2, #7be495, #56c596, #329d9c, #205072*/ 
body {
    background-image: linear-gradient(to bottom right, hsl(47, 54%, 55%),  hsl(73, 54%, 55%), hsl(179, 54%, 41%), hsl(205, 56%, 29%));
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    overflow: hidden;
}

.title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    font-weight: 600;
    font-size: 39px;
    margin-bottom: -40px;
    
}

h2 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

.container {
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-top: 70px;
    margin-right: 95px;
    margin-left: 95px;
    display: grid;
    grid-template-areas: 
    "uno uno uno"
    "due tre quattro"
    ". cinque ."; 
    grid-auto-columns: 1fr;
}

.item:nth-child(1) {
    justify-self: center;
    grid-area: uno;
    height: min-content;
}

.item:nth-child(2) {
    justify-self: center;
    grid-area: due;
    margin-right: -60px;
}

.item:nth-child(3) {
    justify-self: center;
    grid-area: tre;
}

.item:nth-child(4) {
    justify-self: center;
    grid-area: quattro;
    margin-left: -60px;
}

.item:nth-child(5) {
    justify-self: center;
    grid-area: cinque;
    margin-top: -130px;
    height: fit-content;
}

.item {
    padding: 20px;
    height: 400px;
    width: 85%;
}

button {
    background-image: linear-gradient(to right, hsl(73, 53%, 55%), #329d9c);
    border: none;
    border-radius: 20px;
    color: white;
    width: 250px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}

button:hover {
    opacity: 1;
    font-weight: 400;
}

a{
    color: #ffffff;
    font-weight: 600;
}

a:hover {
    color:#ffffff;
    text-decoration: none;
    font-weight: 600;
}

.img {
    display: grid;
    place-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

img {
    height: 100px;
}

.cronologia {
    background: transparent;
    border: solid #329d9c;
    border-radius: 20px;
    color: #303030;
    width: 250px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.cronologia:hover {
    opacity: 1;
}


#carattere {
    font-weight: 300;
    font-size: 16px;
    margin: 5px;
    
}

.button-center, .cronologia{
	margin-left: 40px;
}
